.game {

  @include tablet-above {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  display: flex;
  margin: 0;
  &__results {

    @include tablet-above {
      order: 3;
      text-align: center;
    }

    @include tablet {
      order: 3;
      text-align: center;
    }

    @include mobile {
      width: 100%;
      text-align: center;
    }

    width: 25%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__queue {

    @include tablet-above {
      order: 2;
      text-align: center;
    }

    @include tablet {
      order: 2;
      text-align: center;
    }

    @include mobile {
      width: 100%;
      margin-top: 60px;
      text-align: center;
      margin-bottom: 50px;
    }

    width: 25%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__queue:after {
    @include mobile {
      content: '';
      position: relative;
      top: 10px;
      left: 40%;
      translate: -50%;
      width: 80%;
      height: 2px;
      background-color: white;
      border-radius: 40%;
    }
  }
}
.container {

  @include tablet-above {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    justify-items: center;
    order: 1;
    grid-column: span 2;
  }

  @include tablet {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    justify-items: center;
    order: 1;
    grid-column: span 2;
  }

  @include mobile {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    justify-items: center;
  }

  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: auto;
  gap: 20px;
  &__area {

    @include tablet-above {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    background-color: var(--main-area-color);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__area:after {
    content: "";
    padding-top: 100%;
    display: block;
  }
}
.container__svg {
  width: 100%;
  height: 100%;
}